/*==========================
Site specific CSS*/
body {
  background-color: #7E4F06;
}

h1 {
  color: #FF9A00;
}
.content {
  border: 1px solid black;
  height: 2000px;
  width: 100%;
}

/*===========================
Interactjs specific CSS*/

.draggable {
  color: #333;
  font-size: 5em;
  margin: 30px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}



/*Rotate arrow*/
/*#rotate-area {
  background-color: red;
  overflow: hidden;
}

#arrow {
  width: 10%;
  height: 10%;
}*/


/*Color Palette: http://paletton.com/palette.php?uid=70k0u0kurfRtw0Qpm1hQ%2BWzy8UX*/




