/*==========================
Site specific CSS*/
body {
  background-color: #7E4F06;
}

h1 {
  color: #FF9A00;
}

.content {
  border: 1px solid black;
  height: 1000px;
  width: 100%;
}

/*===========================
Interact specific CSS*/

#knolling-icon {
  width: 6.5em;
  height: 6.5em;
  min-height: 40px;
  margin: 5%;

  background-color: #333;
  color: white;

  border-radius: 50% 50% 10% 50%;
  padding: 4.5em;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#wrench, #scissors, #pencil, #search {
  color: #333;
  font-size: 5em;
  margin: 30px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#paperclip {
  color: #333;
  font-size: 3em;
  margin: 20px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}



/*Color Palette: http://paletton.com/palette.php?uid=70k0u0kurfRtw0Qpm1hQ%2BWzy8UX*/
